.new-beverage-form {
    width: 50%;
}

.new-beverage-form__element {

}

.new-beverage-form__element .custom-input__label {
    width: 35%;
}

.new-beverage-form__element .custom-input__input {
    width: 65%;
}

.new-beverage-form__label {}
