.custom-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
    font-size: 1.8rem;
}

.custom-input__label {
    padding-right: 20px;
}

.custom-input__input {
    padding: 10px;
    font-size: 1.8rem;
    border: 1px solid #dedede;
    border-radius: 3px;
}
