.page-component--catalog-item {
    display: flex;
    background-color: #fcfff6;
}

.catalog-item__image-section {
    width: 50%;
    padding: 50px;
}

.catalog-item__description-section {
    width: 50%;
    padding-top: 50px;
    font-size: 1.8rem;
}

.catalog-item__image {

}

.catalog-item__price {
    padding: 20px 0;
}

.catalog-item__button {
    padding: 0 15px;
}

.catalog-item__amount {
    padding: 15px 0;
    font-weight: 700;
}

.catalog-item__type {
    padding: 15px 0;
}

.catalog-item__description-header {
    font-weight: 700;
}
