.custom-button-wrapper {
    display: inline-block;
}

.custom-button {
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    background-color: #993233;
    cursor: pointer;
}

.remove-button {
    color: #000000;
    background-color: #f3de81;
}
