.page-component--order {
    padding-top: 30px;
}

.order-page__search-form {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

.order-page__search-button {
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 20px;
}

.order-page__order-info {
    padding: 20px;
    font-size: 1.8rem;
}

.order-info__order-id {}

.order-info__customer-name {}

.order-info__email {}

.order-info__delivery {}

.order-info__payment-method {}

.order-info__items {
    margin-top: 80px;
}

.order-info__items-list {}

.order-info__item {
    display: flex;
    justify-content: space-between;
}

.order-info__total-price {}

.order-info__item-name {
    flex: 1;
}

.order-info__item-quantity {
    flex: 1;
}

.order-info__price {
    flex: 1;
}

.order-page__table th {
    text-align: left;
}
