.page-component--main {

}

.welcome-message-section {
    position: relative;
}

.promo-section {
    display: flex;
}

.welcome-message__image {
    width: 100%;
}

.promo__left-image {

}

.promo__right-image {

}

.promo__left-section {
    position: relative;
    width: 60%;
    padding: 50px ;
}

.promo__right-section {
    position: relative;
    width: 40%;
    padding: 50px 50px 0 0;
}

.description-section {
    font-size: 2rem;
    padding-bottom: 50px;
}

.description__header {
    color: #993233;
}

.description__text {
    text-align: justify;
}

.link-block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    padding: 50px 100px;
    text-align: center;
}

.link-block__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    font-size: 5rem;
    color: #ffffff;
    text-decoration: none;
    border: 6px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100px 30px;
}

.welcome-message__link-header {

}

.welcome-message__link-text {

}

.right-section__image-wrapper {
    position: relative;
}

.right-section__image-wrapper .link-block__link {
    padding: 30px;
}
