.page-component--cart {
    padding: 20px 0;
}

.shopping-cart__items-list {

}

.shopping-cart__item {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
}

.shopping-cart__item-name {
    flex: 1 1 25%;
}

.shopping-cart__item-quantity {
    flex: 1 1 25%;
}

.shopping-cart__price {
    flex: 1 1 25%;
}

.shopping-cart__remove-button {
    color: #993233;
    background: #ffffff;
    flex: 1 1 25%;
}

.shopping-cart__total-price {
    font-size: 2rem;
    font-weight: 700;
    padding: 10px 0;
}

.shopping-cart__customer-info {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

.shopping-cart__customer-info .custom-button-wrapper {
    margin-top: 15px;
    align-self: center;
}

.shopping-cart__oder-description {
    font-size: 2rem;
}

.shopping-cart__order-id {
    font-weight: 700;
}
