.page-component__content {
    display: flex;
}

.filters-sidebar {
    width: 30%;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

.catalog__item {
    width: 300px;
    padding: 5px;
    list-style-type: none;
}

.filters-sidebar {
    font-size: 1.8rem;
}

.values-list__label-text {
    padding: 0 10px;
}

.values-list__label {
    cursor: pointer;
}
