.custom-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
    font-size: 1.8rem;
}

.custom-select__label {
    width: 30%;
    padding-right: 20px;
}

.custom-select__select {
    width: 70%;
    padding: 10px;
    font-size: 1.8rem;
    border: 1px solid #dedede;
    border-radius: 3px;
    font-family: 'Source Serif Pro', serif;
}
