.application-header {
    width: 100%;
}

.application-header__container {
    width: 1320px;
    margin: 0  auto;
    border-bottom: 1px solid #993233;
    padding-bottom: 20px;
}

.application-header__navigation-menu {

}

.navigation-menu__link {
    font-size: 2rem;
    text-decoration: none;
    margin-right: 15px;
    color: #993233;
}

.navigation-menu__link:hover {

}

.navigation-menu__link--active {
    font-weight: 700;
}

.logo-container {
    display: inline-block;
}

.logo-img {
    width: 200px;
    height: 200px;
}

.application-header__logo-section {
    display: flex;
    justify-content: space-between;
}

.work-info__admin-section {
    padding: 10px 0;
    text-align: right;
}

.work-info__cart {
    font-size: 1.7rem;
    text-align: right;
}

.logout-button {
    color: #993233;
    background-color: #ffffff;
    font-size: 1.7rem;
    padding: 0;
}

.navigation-menu__link--admin {
    padding: 0;
    margin: 0;
    font-size: 1.7rem;
}

.admin-section {
    font-size: 1.7rem;
    color: #993233;
}

.work-info__admin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-section__work-info {
    font-size: 2rem;
}

.work-info__phone {
    text-decoration: none;
}

.work-info__locales {
    padding-bottom: 20px;
}

.locale-button {
    color: #993233;
    background-color: #ffffff;
    font-size: 1.7rem;
    padding: 0 3px;
}

.locale-button:after {
    content: ' | ';
}

.locale-button:last-child:after {
    content: '';
}
