.beverage-short-view {
    color: #000000;
}

.beverage-short-view:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.beverage-short-view__main {

}

.beverage-short-view__description {
    font-size: 1.5rem;
    padding: 5px;
    text-align: justify;
}

.beverage-short-view__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    padding: 30px 5px 5px;
}

.beverage-short-view__image-container {

}

.beverage-short-view__main-info {
    font-size: 2rem;
    padding: 0 5px;
    text-align: center;
}

.main-info__name {
    padding: 10px 0;
    font-size: 2.1rem;
}

.main-info__name-link {
    color: #000000;
}

.main-info__type {
    font-size: 1.7rem;
    color: #65737e;
}

.main-info__category {
    font-size: 1.7rem;
}

.bsv-footer__quantity {

}

.bsv-footer__price {

}

.bsv-footer__buttons {

}

.bsv-image {
    height: 200px;
}

.bsv-footer__item {
    flex: 1;
    position: relative;
}

.bsv-footer__item-header {
    position: absolute;
    top: -100%;
    left: 0;
    font-size: 1.5rem;
}
