.page-component--order-item {
    padding-top: 20px;
}

.order-item__form {

}

.page-component--order-item .shopping-cart__items-list {
    margin-top: 80px;
}

.order-item__header {
    padding: 10px 0;
    font-size: 2rem;
}

.order-item__button-update {
    /*color: #993233;*/
    /*background-color: #ffffff;*/
}

.order-item__button-delete {
    background-color: #f08080;
}

.order-item__button-delete:hover {
    background-color: #dc143c;
}

.order-item__order-status {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding: 15px 0;
}

.order-item__order-status .custom-select {
    margin-right: 30px;
}
