.notification-container {
    width: 100%;
}

.notification-container__error-message {
    max-width: 1320px;
    margin: 0 auto;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 15px 30px;
}

.notification-container__errors-header {
    margin: 0;
    padding: 0;
}

.notification-container__error {}
