.page-component--admin {}

.admin-page__edit-section {
    padding: 10px;
    border-bottom: 1px solid #d2d2d2;
}

.admin-page__list-of-items {
    margin: 0;
    padding: 5px;
}

.list-of-items__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
    padding: 15px 0;
}

.item-attr {
    padding: 0 10px;
    flex: 1 1 auto;
}

.item-attr--image {
    width: 100px;
    height: 80px;
    padding: 0;
}

.list-of-items__item .admin-button {
    color: #993233;
    background-color: #ffffff;
}

.admin-page__navigation {
    padding: 15px 0;
    border-bottom: 2px solid #e3e3e3;
}

.admin-page__navigation .admin-page__link-button {
    color: #993233;
    background-color: #ffffff;
    margin: 0 5px;
}

.admin-page__orders {}

.orders-list__item-link {
    color: #993233;
    text-decoration: none;
}

.orders-list__item-link:hover {
    text-decoration: underline;
}

.admin-page__orders-table {
    font-size: 1.5rem;
}
